{
  "openapi": "3.0.2",
  "info": {
    "title": "Unit OpenAPI specifications",
    "description": "An OpenAPI specifications for unit-sdk clients",
    "version": "0.2.3"
  },
  "servers": [
    {
      "url": "https://api.s.unit.sh"
    }
  ],
  "paths": {
    "/applications/{applicationId}": {
      "$ref": "./schemas/application/applicationPaths.json#/application"
    },
    "/applications/{applicationId}/cancel": {
      "$ref": "./schemas/application/applicationPaths.json#/cancelApplication"
    },
    "/applications": {
      "$ref": "./schemas/application/applicationPaths.json#/applications"
    },
    "/application-forms": {
      "$ref": "./schemas/application/applicationPaths.json#/applicationForms"
    },
    "/applications/{applicationId}/documents/{documentId}/multipart": {
      "$ref": "./schemas/application/applicationPaths.json#/uploadApplicationDocumentFile"
    },
    "/applications/{applicationId}/documents/{documentId}/back/multipart": {
      "$ref": "./schemas/application/applicationPaths.json#/uploadApplicationDocumentFileBack"
    },
    "/applications/{applicationId}/documents": {
      "$ref": "./schemas/application/applicationPaths.json#/documents"
    },
    "/applications/{applicationId}/documents/{documentId}/verify": {
      "$ref": "./schemas/application/applicationPaths.json#/verifyDocument"
    },
    "/applications/{applicationId}/documents/{documentId}/download": {
      "$ref": "./schemas/application/applicationPaths.json#/downloadDocument"
    },
    "/applications/{applicationId}/documents/{documentId}/download/back": {
      "$ref": "./schemas/application/applicationPaths.json#/downloadBackSideDocument"
    },
    "/application-forms/{applicationFormId}": {
      "$ref": "./schemas/application/applicationPaths.json#/applicationForm"
    },
    "/beneficial-owner/{beneficialOwnerId}": {
      "$ref": "./schemas/application/applicationPaths.json#/updateBusinessBeneficialOwner"
    },
    "/accounts": {
      "$ref": "./schemas/account/accountPaths.json#/accounts"
    },
    "/accounts/{accountId}": {
      "$ref": "./schemas/account/accountPaths.json#/account"
    },
    "/accounts/{accountId}/limits": {
      "$ref": "./schemas/account/accountPaths.json#/getAccountLimits"
    },
    "/accounts/{accountId}/unfreeze": {
      "$ref": "./schemas/account/accountPaths.json#/unfreezeAccount"
    },
    "/accounts/{accountId}/freeze": {
      "$ref": "./schemas/account/accountPaths.json#/freezeAccount"
    },
    "/accounts/{accountId}/close": {
      "$ref": "./schemas/account/accountPaths.json#/closeAccount"
    },
    "/accounts/{accountId}/reopen": {
      "$ref": "./schemas/account/accountPaths.json#/reopenAccount"
    },
    "/accounts/{accountId}/enter-daca": {
      "$ref": "./schemas/account/accountPaths.json#/enterDaca"
    },
    "/accounts/{accountId}/activate-daca": {
      "$ref": "./schemas/account/accountPaths.json#/activateDaca"
    },
    "/accounts/{accountId}/deactivate-daca": {
      "$ref": "./schemas/account/accountPaths.json#/deactivateDaca"
    },
    "/account-end-of-day": {
      "$ref": "./schemas/account/accountPaths.json#/getAccountBalanceHistory"
    },
    "/accounts/{accountId}/repayment-information": {
      "$ref": "./schemas/account/accountPaths.json#/repaymentInfo"
    },
    "/accounts/{accountId}/deposit-products": {
      "$ref": "./schemas/account/accountPaths.json#/depositProducts"
    },
    "/accounts/{accountId}/relationships/customers": {
      "$ref": "./schemas/account/accountPaths.json#/customers"
    },
    "/customers/{customerId}": {
      "$ref": "./schemas/customer/customerPaths.json#/customer"
    },
    "/customers": {
      "$ref": "./schemas/customer/customerPaths.json#/listCustomers"
    },
    "/customers/{customerId}/archive": {
      "$ref": "./schemas/customer/customerPaths.json#/archiveCustomer"
    },
    "/customers/{customerId}/authorized-users": {
      "$ref": "./schemas/customer/customerPaths.json#/authorizedUsers"
    },
    "/payments": {
      "$ref": "./schemas/payment/paymentsPaths.json#/getAndCreatePayments"
    },
    "/payments/{paymentId}": {
      "$ref": "./schemas/payment/paymentsPaths.json#/getAndUpdatePayment"
    },
    "/payments/{paymentId}/cancel": {
      "$ref": "./schemas/payment/paymentsPaths.json#/cancelPayment"
    },
    "/store-locations": {
      "$ref": "./schemas/cash-deposit/cashDepositPaths.json#/listCashDepositStoreLocations"
    },
    "/cash-deposits/barcodes": {
      "$ref": "./schemas/cash-deposit/cashDepositPaths.json#/generateBarcode"
    },
    "/cash-deposits/barcodes/{barcodeNumber}/image": {
      "$ref": "./schemas/cash-deposit/cashDepositPaths.json#/getBarcodeImage"
    },
    "/received-payments": {
      "$ref": "./schemas/payment/paymentsPaths.json#/listReceivedPayments"
    },
    "/returns/{transactionId}": {
      "$ref": "./schemas/payment/paymentsPaths.json#/returnReceivedACHTransaction"
    },
    "/received-payments/{paymentId}": {
      "$ref": "./schemas/payment/paymentsPaths.json#/receivedPayments"
    },
    "/received-payments/{paymentId}/advance": {
      "$ref": "./schemas/payment/paymentsPaths.json#/advanceReceivedPayment"
    },
    "/received-payments/{paymentId}/reprocess": {
      "$ref": "./schemas/payment/paymentsPaths.json#/reprocessReceivedPayment"
    },
    "/counterparties": {
      "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterparties"
    },
    "/counterparties/{counterpartyId}": {
      "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterparty"
    },
    "/counterparties/{counterpartyId}/balance": {
      "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterpartyBalance"
    },
    "/recurring-payments": {
      "$ref": "./schemas/payment/paymentsPaths.json#/recurringPayments"
    },
    "/recurring-payments/{paymentId}": {
      "$ref": "./schemas/payment/paymentsPaths.json#/getRecurringPayment"
    },
    "/recurring-payments/{paymentId}/disable": {
      "$ref": "./schemas/payment/paymentsPaths.json#/disableRecurringPayment"
    },
    "/recurring-payments/{paymentId}/enable": {
      "$ref": "./schemas/payment/paymentsPaths.json#/enableRecurringPayment"
    },
    "/cards": {
      "$ref": "./schemas/card/cardPaths.json#/cards"
    },
    "/cards/{cardId}": {
      "$ref": "./schemas/card/cardPaths.json#/card"
    },
    "/cards/{cardId}/secure-data/pin/status": {
      "$ref": "./schemas/card/cardPaths.json#/cardPinStatus"
    },
    "/cards/{cardId}/report-stolen": {
      "$ref": "./schemas/card/cardPaths.json#/reportStolenCard"
    },
    "/cards/{cardId}/report-lost": {
      "$ref": "./schemas/card/cardPaths.json#/reportLostCard"
    },
    "/cards/{cardId}/close": {
      "$ref": "./schemas/card/cardPaths.json#/closeCard"
    },
    "/cards/{cardId}/freeze": {
      "$ref": "./schemas/card/cardPaths.json#/freezeCard"
    },
    "/cards/{cardId}/unfreeze": {
      "$ref": "./schemas/card/cardPaths.json#/unfreezeCard"
    },
    "/cards/{cardId}/limits": {
      "$ref": "./schemas/card/cardPaths.json#/cardLimits"
    },
    "/cards/{cardId}/replace": {
      "$ref": "./schemas/card/cardPaths.json#/replaceCard"
    },
    "/authorizations": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/authorizations"
    },
    "/authorizations/{authorizationId}": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/authorization"
    },
    "/authorization-requests": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/authorizationsRequests"
    },
    "/authorization-requests/{authorizationId}": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/authorizationRequest"
    },
    "/authorization-requests/{authorizationId}/approve": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/approveAuthorizationRequests"
    },
    "/authorization-requests/{authorizationId}/decline": {
      "$ref": "./schemas/authorization/authorizationPaths.json#/declineAuthorizationRequests"
    },
    "/statements": {
      "$ref": "./schemas/statement/statementPaths.json#/getStatements"
    },
    "/statements/{statementId}/html": {
      "$ref": "./schemas/statement/statementPaths.json#/getStatementHtml"
    },
    "/statements/{statementId}/pdf": {
      "$ref": "./schemas/statement/statementPaths.json#/getStatementPdf"
    },
    "/statements/{accountId}/bank/pdf": {
      "$ref": "./schemas/statement/statementPaths.json#/getStatementBankPdf"
    },
    "/rewards": {
      "$ref": "./schemas/reward/rewardPaths.json#/rewards"
    },
    "/rewards/{rewardId}": {
      "$ref": "./schemas/reward/rewardPaths.json#/getReward"
    },
    "/events": {
      "$ref": "./schemas/event/eventPaths.json#/listEvents"
    },
    "/events/{eventId}": {
      "$ref": "./schemas/event/eventPaths.json#/event"
    },
    "/institutions/{routingNumber}": {
      "$ref": "./schemas/institution/institutionPaths.json#/getInstitution"
    },
    "/fees": {
      "$ref": "./schemas/fee/feePaths.json#/createFee"
    },
    "/fees/reverse": {
      "$ref": "./schemas/fee/feePaths.json#/reverseFee"
    },
    "/check-deposits": {
      "$ref": "./schemas/check/checkDepositPaths.json#/checkDeposits"
    },
    "/check-deposits/{checkDepositId}": {
      "$ref": "./schemas/check/checkDepositPaths.json#/checkDeposit"
    },
    "/check-deposits/{checkDepositId}/confirm": {
      "$ref": "./schemas/check/checkDepositPaths.json#/confirmCheckDeposit"
    },
    "/check-deposits/{checkDepositId}/front": {
      "$ref": "./schemas/check/checkDepositPaths.json#/getFrontCheckDeposit"
    },
    "/check-deposits/{checkDepositId}/back": {
      "$ref": "./schemas/check/checkDepositPaths.json#/getBackCheckDeposit"
    },
    "/users/{userId}/api-tokens": {
      "$ref": "./schemas/token/tokenPaths.json#/apiTokens"
    },
    "/users/{userId}/api-tokens/{tokenId}": {
      "$ref": "./schemas/token/tokenPaths.json#/deleteToken"
    },
    "/customers/{customerId}/token": {
      "$ref": "./schemas/token/tokenPaths.json#/createCustomerToken"
    },
    "/customers/{customerId}/token/verification": {
      "$ref": "./schemas/token/tokenPaths.json#/createCustomerTokenVerification"
    },
    "/webhooks": {
      "$ref": "./schemas/webhook/webhookPaths.json#/webhooks"
    },
    "/webhooks/{webhookId}": {
      "$ref": "./schemas/webhook/webhookPaths.json#/webhook"
    },
    "/webhooks/{webhookId}/enable": {
      "$ref": "./schemas/webhook/webhookPaths.json#/enableWebhook"
    },
    "/webhooks/{webhookId}/disable": {
      "$ref": "./schemas/webhook/webhookPaths.json#/disableWebhook"
    },
    "/atm-locations": {
      "$ref": "./schemas/atm/atmLocationPaths.json#/listAtmLocations"
    },
    "/accounts/{accountId}/transactions/{transactionId}": {
      "$ref": "./schemas/transaction/transactionPaths.json#/transaction"
    },
    "/transactions": {
      "$ref": "./schemas/transaction/transactionPaths.json#/listTransactions"
    },
    "/disputes": {
      "$ref": "./schemas/dispute/disputePaths.json#/listDisputes"
    },
    "/disputes/{disputeId}": {
      "$ref": "./schemas/dispute/disputePaths.json#/getDispute"
    },
    "/repayments": {
      "$ref": "./schemas/repayment/repaymentPaths.json#/repayments"
    },
    "/repayments/{repaymentId}": {
      "$ref": "./schemas/repayment/repaymentPaths.json#/repayment"
    },
    "/recurring-repayments": {
      "$ref": "./schemas/repayment/recurring-repayment/recurringRepaymentPaths.json#/recurringRepayments"
    },
    "/recurring-repayments/{recurringRepaymentId}": {
      "$ref": "./schemas/repayment/recurring-repayment/recurringRepaymentPaths.json#/recurringRepayment"
    },
    "/recurring-repayments/{recurringRepaymentId}/disable": {
      "$ref": "./schemas/repayment/recurring-repayment/recurringRepaymentPaths.json#/disableRecurringRepayment"
    },
    "/recurring-repayments/{recurringRepaymentId}/enable": {
      "$ref": "./schemas/repayment/recurring-repayment/recurringRepaymentPaths.json#/enableRecurringRepayment"
    },
    "/check-payments": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/checkPayments"
    },
    "/check-payments/{checkPaymentId}": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/checkPayment"
    },
    "/check-payments/{checkPaymentId}/approve": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentApprove"
    },
    "/check-payments/{checkPaymentId}/cancel": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentCancel"
    },
    "/check-payments/{checkPaymentId}/return": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentReturn"
    },
    "/check-payments/{checkPaymentId}/front": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/getCheckPaymentFront"
    },
    "/check-payments/{checkPaymentId}/back": {
      "$ref": "./schemas/check/checkPaymentPaths.json#/getCheckPaymentBack"
    },
    "/stop-payments": {
      "$ref": "./schemas/payment/stopPaymentPaths.json#/stopPayments"
    },
    "/stop-payments/{stopPaymentId}": {
      "$ref": "./schemas/payment/stopPaymentPaths.json#/stopPayment"
    },
    "/stop-payments/{stopPaymentId}/disable": {
      "$ref": "./schemas/payment/stopPaymentPaths.json#/disableStopPayment"
    },
    "/tax-forms": {
      "$ref": "./schemas/tax-forms/taxFormsPaths.json#/taxForms"
    },
    "/tax-forms/{taxFormId}": {
      "$ref": "./schemas/tax-forms/taxFormsPaths.json#/getTaxForm"
    },
    "/tax-forms/{taxFormId}/pdf": {
      "$ref": "./schemas/tax-forms/taxFormsPaths.json#/getTaxFormPdf"
    },
    "/sandbox/atm-deposits": {
      "$ref": "./schemas/simulation/simulationPaths.json#/createAtmDeposit"
    },
    "/sandbox/cards/{cardId}/activate": {
      "$ref": "./schemas/simulation/simulationPaths.json#/activateCard"
    },
    "/sandbox/received-payments": {
      "$ref": "./schemas/simulation/simulationPaths.json#/receivedPaymentTransaction"
    },
    "/sandbox/received-ach-payment": {
      "$ref": "./schemas/simulation/simulationPaths.json#/createIncomingAchPayment"
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Identifier": {
        "type": "string",
        "pattern": "^[1-9]\\d*$"
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^.*$"
          },
          "street2": {
            "type": "string",
            "nullable": true,
            "pattern": "^.*$"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^.*$"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string",
            "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
          },
          "country": {
            "type": "string",
            "default": "US"
          }
        },
        "additionalProperties": false,
        "required": [
          "street",
          "city",
          "postalCode",
          "country",
          "state"
        ]
      },
      "Year": {
        "type": "string",
        "pattern": "^\\d{4}$"
      },
      "State": {
        "type": "string",
        "pattern": "^((A[LKSZR])|(C[AOT])|(D[EC])|(F[ML])|(G[AU])|(HI)|(I[DLNA])|(K[SY])|(LA)|(M[EHDAINSOT])|(N[EVHJMYCD])|(MP)|(O[HKR])|(P[WAR])|(RI)|(S[CD])|(T[NX])|(UT)|(V[TIA])|(W[AVIY]))$"
      },
      "Ssn": {
        "type": "string",
        "pattern": "^\\d{9}$"
      },
      "JwtSubject": {
        "type": "string",
        "nullable": true
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "fullName": {
            "$ref": "#/components/schemas/FullName"
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "jwtSubject": {
            "$ref": "#/components/schemas/JwtSubject"
          }
        },
        "additionalProperties": false,
        "required": [
          "fullName",
          "email",
          "phone"
        ]
      },
      "Revocability": {
        "type": "string",
        "enum": [
          "Revocable",
          "Irrevocable"
        ]
      },
      "SourceOfFunds": {
        "type": "string",
        "enum": [
          "Inheritance",
          "Salary",
          "Savings",
          "InvestmentReturns",
          "Gifts"
        ]
      },
      "Country": {
        "type": "string",
        "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
      },
      "CountryNoUSCA": {
        "type": "string",
        "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
      },
      "FullName": {
        "title": "Full Name",
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "last": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          }
        },
        "additionalProperties": false,
        "required": [
          "first",
          "last"
        ]
      },
      "Phone": {
        "title": "Phone",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string"
          },
          "number": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "countryCode",
          "number"
        ]
      },
      "Tags": {
        "type": "object",
        "maxProperties": 15,
        "additionalProperties": {
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      },
      "Coordinates": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "longitude",
          "latitude"
        ]
      },
      "Description": {
        "type": "string",
        "maxLength": 1024
      },
      "Url": {
        "type": "string",
        "pattern": "(http(s)?:\\/\\/.)?(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)"
      },
      "Merchant": {
        "title": "Merchant",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "category"
        ],
        "additionalProperties": false
      },
      "PlaidProcessorToken": {
        "type": "string",
        "pattern": "^processor-.*$",
        "minLength": 40,
        "maxLength": 60
      },
      "AuthorizedUser": {
        "title": "Authorized User",
        "type": "object",
        "properties": {
          "fullName": {
            "$ref": "#/components/schemas/FullName"
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "jwtSubject": {
            "$ref": "#/components/schemas/JwtSubject"
          }
        },
        "additionalProperties": false,
        "required": [
          "fullName",
          "email",
          "phone"
        ]
      },
      "DeviceFingerprint": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "iovation"
            ]
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "provider",
          "value"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CardLevelLimits": {
        "type": "object",
        "properties": {
          "dailyWithdrawal": {
            "type": "integer",
            "format": "int64"
          },
          "dailyPurchase": {
            "type": "integer",
            "format": "int64"
          },
          "monthlyWithdrawal": {
            "type": "integer",
            "format": "int64"
          },
          "monthlyPurchase": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "CardTotals": {
        "type": "object",
        "properties": {
          "withdrawals": {
            "type": "integer",
            "format": "int64"
          },
          "deposits": {
            "type": "integer",
            "format": "int64"
          },
          "purchases": {
            "type": "integer",
            "format": "int64"
          },
          "cardTransactions": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false,
        "required": [
          "withdrawals",
          "deposits",
          "purchases",
          "cardTransactions"
        ]
      },
      "HealthcareAmounts": {
        "title": "Healthcare Amounts",
        "type": "object",
        "properties": {
          "transitAmount": {
            "type": "integer",
            "format": "int64"
          },
          "prescriptionRXAmount": {
            "type": "integer",
            "format": "int64"
          },
          "visionOpticalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "clinicOtherQualifiedMedicalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "dentalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalHealthcareAmount": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "transitAmount",
          "prescriptionRXAmount",
          "visionOpticalAmount",
          "clinicOtherQualifiedMedicalAmount",
          "dentalAmount",
          "totalHealthcareAmount"
        ],
        "additionalProperties": false
      },
      "CardVerificationData": {
        "title": "Card Verification Data",
        "type": "object",
        "properties": {
          "verificationMethod": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "verificationMethod"
        ]
      },
      "Industry": {
        "type": "string",
        "enum": [
          "Retail",
          "Wholesale",
          "Restaurants",
          "Hospitals",
          "Construction",
          "Insurance",
          "Unions",
          "RealEstate",
          "FreelanceProfessional",
          "OtherProfessionalServices",
          "OnlineRetailer",
          "OtherEducationServices"
        ]
      },
      "ListPageParameters": {
        "type": "object",
        "description": "Parameters for paginated list requests",
        "properties": {
          "limit": {
            "type": "integer",
            "default": 100,
            "maximum": 1000
          },
          "offset": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "PageQuery": {
        "name": "page",
        "in": "query",
        "style": "deepObject",
        "schema": {
          "$ref": "#/components/schemas/ListPageParameters"
        }
      },
      "UnitError": {
        "type": "array",
        "title": "Unit Error",
        "items": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "code": {
              "type": "string"
            },
            "detail": {
              "type": "string"
            },
            "details": {
              "type": "string"
            },
            "source": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string"
                }
              }
            },
            "meta": {
              "type": "object"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Unexpected error",
        "content": {
          "application/vnd.api+json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/UnitError"
            }
          }
        }
      },
      "Occupation": {
        "type": "string",
        "enum": [
          "ArchitectOrEngineer",
          "BusinessAnalystAccountantOrFinancialAdvisor",
          "CommunityAndSocialServicesWorker",
          "ConstructionMechanicOrMaintenanceWorker",
          "Doctor",
          "Educator",
          "EntertainmentSportsArtsOrMedia",
          "ExecutiveOrManager",
          "FarmerFishermanForester",
          "FoodServiceWorker",
          "GigWorker",
          "HospitalityOfficeOrAdministrativeSupportWorker",
          "HouseholdManager",
          "JanitorHousekeeperLandscaper",
          "Lawyer",
          "ManufacturingOrProductionWorker",
          "MilitaryOrPublicSafety",
          "NurseHealthcareTechnicianOrHealthcareSupport",
          "PersonalCareOrServiceWorker",
          "PilotDriverOperator",
          "SalesRepresentativeBrokerAgent",
          "ScientistOrTechnologist",
          "Student"
        ]
      },
      "AnnualIncome": {
        "type": "string",
        "enum": [
          "UpTo10k",
          "Between10kAnd25k",
          "Between25kAnd50k",
          "Between50kAnd100k",
          "Between100kAnd250k",
          "Over250k"
        ]
      },
      "SourceOfIncome": {
        "type": "string",
        "enum": [
          "EmploymentOrPayrollIncome",
          "PartTimeOrContractorIncome",
          "InheritancesAndGifts",
          "PersonalInvestments",
          "BusinessOwnershipInterests",
          "GovernmentBenefits"
        ]
      },
      "BusinessVertical": {
        "type": "string",
        "enum": [
          "AdultEntertainmentDatingOrEscortServices",
          "AgricultureForestryFishingOrHunting",
          "ArtsEntertainmentAndRecreation",
          "BusinessSupportOrBuildingServices",
          "Cannabis",
          "Construction",
          "DirectMarketingOrTelemarketing",
          "EducationalServices",
          "FinancialServicesCryptocurrency",
          "FinancialServicesDebitCollectionOrConsolidation",
          "FinancialServicesMoneyServicesBusinessOrCurrencyExchange",
          "FinancialServicesOther",
          "FinancialServicesPaydayLending",
          "GamingOrGambling",
          "HealthCareAndSocialAssistance",
          "HospitalityAccommodationOrFoodServices",
          "LegalAccountingConsultingOrComputerProgramming",
          "Manufacturing",
          "Mining",
          "Nutraceuticals",
          "PersonalCareServices",
          "PublicAdministration",
          "RealEstate",
          "ReligiousCivicAndSocialOrganizations",
          "RepairAndMaintenance",
          "RetailTrade",
          "TechnologyMediaOrTelecom",
          "TransportationOrWarehousing",
          "Utilities",
          "WholesaleTrade"
        ]
      },
      "SoleProprietorshipAnnualRevenue": {
        "type": "string",
        "enum": [
          "UpTo50k",
          "Between50kAnd100k",
          "Between100kAnd200k",
          "Between200kAnd500k",
          "Over500k"
        ]
      },
      "BusinessAnnualRevenue": {
        "type": "string",
        "enum": [
          "UpTo250k",
          "Between250kAnd500k",
          "Between500kAnd1m",
          "Between1mAnd5m",
          "Over5m"
        ]
      },
      "CashFlow": {
        "type": "string",
        "enum": [
          "Unpredictable",
          "Predictable"
        ]
      },
      "SoleProprietorshipNumberOfEmployees": {
        "type": "string",
        "enum": [
          "One",
          "Between2And5",
          "Between5And10",
          "Over10"
        ]
      },
      "BusinessNumberOfEmployees": {
        "type": "string",
        "enum": [
          "UpTo10",
          "Between10And50",
          "Between50And100",
          "Between100And500",
          "Over500"
        ]
      },
      "EntityType": {
        "type": "string",
        "enum": [
          "Corporation",
          "LLC",
          "Partnership",
          "PubliclyTradedCorporation",
          "PrivatelyHeldCorporation",
          "NotForProfitOrganization"
        ]
      },
      "ResponseContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Contact"
          }
        ],
        "required": [
          "fullName"
        ]
      },
      "IncludedResource": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "attributes": {
              "type": "object"
            },
            "relationships": {
              "type": "object"
            }
          }
        }
      },
      "BaseWeeklySchedule": {
        "title": "Weekly Schedule",
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date"
          },
          "endTime": {
            "type": "string",
            "format": "date"
          },
          "dayOfMonth": {
            "type": "integer",
            "minimum": -5,
            "maximum": 28
          },
          "nextScheduledAction": {
            "type": "string",
            "format": "date"
          },
          "totalNumberOfPayments": {
            "type": "integer",
            "minimum": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "nextScheduledAction"
        ]
      },
      "BaseMonthlySchedule": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date"
          },
          "endTime": {
            "type": "string",
            "format": "date"
          },
          "dayOfMonth": {
            "type": "integer",
            "minimum": -5,
            "maximum": 28
          },
          "dayOfWeek": {
            "type": "string",
            "enum": [
              "Sunday",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday"
            ]
          },
          "totalNumberOfPayments": {
            "type": "integer",
            "minimum": 1
          }
        },
        "additionalProperties": false
      },
      "WeeklySchedule": {
        "title": "Weekly Schedule",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseWeeklySchedule"
          },
          {
            "type": "object",
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "Weekly"
                ],
                "default": "Weekly"
              }
            },
            "required": [
              "interval"
            ]
          }
        ]
      },
      "MonthlySchedule": {
        "title": "Monthly Schedule",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseMonthlySchedule"
          },
          {
            "type": "object",
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "Monthly"
                ],
                "default": "Monthly"
              }
            },
            "required": [
              "interval"
            ]
          }
        ]
      },
      "Schedule": {
        "title": "Schedule",
        "oneOf": [
          {
            "$ref": "#/components/schemas/WeeklySchedule"
          },
          {
            "$ref": "#/components/schemas/MonthlySchedule"
          }
        ],
        "discriminator": {
          "propertyName": "interval",
          "mapping": {
            "Weekly": "#/components/schemas/WeeklySchedule",
            "Monthly": "#/components/schemas/MonthlySchedule"
          }
        }
      },
      "ResponseMonthlySchedule": {
        "title": "Response Monthly Schedule",
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseSchedule"
          },
          {
            "$ref": "#/components/schemas/BaseMonthlySchedule"
          }
        ]
      },
      "ResponseWeeklySchedule": {
        "title": "Response Weekly Schedule",
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseSchedule"
          },
          {
            "$ref": "#/components/schemas/BaseWeeklySchedule"
          }
        ]
      },
      "ResponseSchedule": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "string",
            "enum": [
              "Weekly",
              "Monthly"
            ]
          }
        },
        "discriminator": {
          "propertyName": "interval",
          "mapping": {
            "Weekly": "#/components/schemas/ResponseWeeklySchedule",
            "Monthly": "#/components/schemas/ResponseMonthlySchedule"
          }
        },
        "required": [
          "interval"
        ]
      },
      "DefaultContentType": {
        "type": "string",
        "enum": [
          "application/vnd.api+json"
        ]
      },
      "IdempotencyKey": {
        "type": "string",
        "minLength": 1,
        "maxLength": 255
      },
      "Relationship": {
        "type": "object",
        "title": "Relationship",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "./types.json#/components/schemas/Identifier"
              },
              "type": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "id",
              "type"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "data"
        ]
      },
      "AccountRelationship": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "title": "Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "account",
                      "depositAccount",
                      "creditAccount",
                      "batchAccount"
                    ]
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "AccountsRelationship": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "object",
            "title": "Account Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "account",
                        "depositAccount",
                        "creditAccount",
                        "batchAccount"
                      ]
                    },
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    }
                  },
                  "required": [
                    "type",
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CreditAccountRelationship": {
        "type": "object",
        "properties": {
          "creditAccount": {
            "type": "object",
            "title": "Credit Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "creditAccount"
                    ]
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ApplicationRelationship": {
        "type": "object",
        "properties": {
          "application": {
            "type": "object",
            "title": "Application Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "businessApplication",
                      "individualApplication",
                      "application"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id",
                  "type"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        }
      },
      "CustomerRelationship": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "object",
            "title": "Customer Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "customer",
                      "businessCustomer",
                      "individualCustomer"
                    ]
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        }
      },
      "CustomersRelationship": {
        "type": "object",
        "properties": {
          "customers": {
            "type": "object",
            "title": "Customers Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    },
                    "type": {
                      "type": "string",
                      "default": "customer"
                    }
                  }
                }
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        },
        "additionalProperties": false
      },
      "OrgRelationship": {
        "type": "object",
        "properties": {
          "org": {
            "type": "object",
            "title": "Org Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "default": "org"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id",
                  "type"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        },
        "additionalProperties": false
      },
      "DocumentsRelationship": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "object",
            "title": "Documents Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "default": "document"
                    },
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": true,
        "required": [
          "data"
        ]
      },
      "BeneficiariesRelationship": {
        "type": "object",
        "properties": {
          "beneficiaries": {
            "type": "object",
            "title": "Beneficiaries Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "default": "beneficiary"
                    },
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        }
      },
      "BeneficialOwnersRelationship": {
        "type": "object",
        "properties": {
          "beneficialOwners": {
            "type": "object",
            "title": "Beneficial Owners Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "default": "beneficialOwner"
                    },
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        }
      },
      "AuthorizationRequestRelationship": {
        "type": "object",
        "properties": {
          "authorizationRequest": {
            "type": "object",
            "title": "Authorization Request Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "authorizationRequest"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        }
      },
      "AuthorizationRelationship": {
        "type": "object",
        "properties": {
          "authorization": {
            "type": "object",
            "title": "Authorization Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "authorization"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        }
      },
      "FundingAccountRelationship": {
        "type": "object",
        "properties": {
          "fundingAccount": {
            "type": "object",
            "title": "Funding Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "account"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CardRelationship": {
        "type": "object",
        "properties": {
          "card": {
            "type": "object",
            "title": "Card Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "card"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "TransactionRelationship": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "title": "Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CounterpartyRelationship": {
        "type": "object",
        "properties": {
          "counterparty": {
            "type": "object",
            "title": "Counterparty Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "counterparty"
                    ],
                    "default": "counterparty"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CounterpartyAccountRelationship": {
        "type": "object",
        "properties": {
          "counterpartyAccount": {
            "type": "object",
            "title": "Counterparty Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "account",
                      "depositAccount"
                    ]
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CounterpartyCustomerRelationship": {
        "type": "object",
        "properties": {
          "counterpartyCustomer": {
            "type": "object",
            "title": "Counterparty Customer Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "customer",
                      "businessCustomer",
                      "individualCustomer"
                    ]
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RecurringPaymentRelationship": {
        "type": "object",
        "properties": {
          "recurringPayment": {
            "type": "object",
            "title": "Recurring Payment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "recurringPayment"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "AchPaymentRelationship": {
        "type": "object",
        "properties": {
          "achPayment": {
            "type": "object",
            "title": "ACH Payment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "achPayment"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ReceivePaymentTransactionRelationship": {
        "type": "object",
        "properties": {
          "receivePaymentTransaction": {
            "type": "object",
            "title": "Receive Payment Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "PaymentAdvanceTransactionRelationship": {
        "type": "object",
        "properties": {
          "paymentAdvanceTransaction": {
            "type": "object",
            "title": "Payment Advance Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RepayPaymentAdvanceTransactionRelationship": {
        "type": "object",
        "properties": {
          "repayPaymentAdvanceTransaction": {
            "type": "object",
            "title": "Repay Payment Advance Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CheckPaymentsRelationship": {
        "type": "object",
        "properties": {
          "checkPayments": {
            "type": "object",
            "title": "Check Payments Relationship",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "./types.json#/components/schemas/Identifier"
                    },
                    "type": {
                      "type": "string",
                      "default": "checkPayment"
                    }
                  }
                }
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RewardedTransactionRelationship": {
        "type": "object",
        "properties": {
          "rewardedTransaction": {
            "type": "object",
            "title": "Rewarded Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ReceivingAccountRelationship": {
        "type": "object",
        "properties": {
          "receivingAccount": {
            "type": "object",
            "title": "Receiving Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "account",
                      "depositAccount",
                      "creditAccount"
                    ]
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "PaymentRelationship": {
        "type": "object",
        "properties": {
          "payment": {
            "type": "object",
            "title": "Payment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "payment",
                      "achPayment",
                      "cardPayment",
                      "checkPayment",
                      "recurringPayment",
                      "paymentAdvance",
                      "repayPaymentAdvance",
                      "receivePayment",
                      "rewardedTransaction"
                    ]
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RecurringRepaymentRelationship": {
        "type": "object",
        "properties": {
          "recurringRepayment": {
            "type": "object",
            "title": "Recurring Repayment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "recurringRepayment"
                    ]
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ReturnedRelationship": {
        "type": "object",
        "properties": {
          "returned": {
            "type": "object",
            "title": "Returned Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RelatedTransactionRelationship": {
        "type": "object",
        "properties": {
          "relatedTransaction": {
            "type": "object",
            "title": "Related Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "DisputedTransactionRelationship": {
        "type": "object",
        "properties": {
          "disputedTransaction": {
            "type": "object",
            "title": "Disputed Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "transaction"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ChargebackRelationship": {
        "type": "object",
        "properties": {
          "chargeback": {
            "type": "object",
            "title": "Chargeback Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "chargeback"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "ReceiverAccountRelationship": {
        "type": "object",
        "properties": {
          "receiverAccount": {
            "type": "object",
            "title": "Receiver Account Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "account"
                    ]
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "CheckPaymentRelationship": {
        "type": "object",
        "properties": {
          "checkPayment": {
            "type": "object",
            "title": "Check Payment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "payment"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "type",
                  "id"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        }
      },
      "RepaymentRelationship": {
        "type": "object",
        "properties": {
          "repayment": {
            "type": "object",
            "title": "Repayment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "default": "repayment"
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "IncomingAchRelationship": {
        "type": "object",
        "properties": {
          "incomingAch": {
            "type": "object",
            "title": "Incoming Ach Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "incomingAch"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "type",
                  "id"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        }
      },
      "CheckDepositRelationship": {
        "type": "object",
        "properties": {
          "checkDeposit": {
            "type": "object",
            "title": "Check Deposit Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "checkDeposit"
                  },
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "type",
                  "id"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "data"
            ]
          }
        }
      },
      "ReceivedPaymentRelationship": {
        "type": "object",
        "properties": {
          "receivedPayment": {
            "type": "object",
            "title": "Received Payment Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "default": "receivedPayment"
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "RewardRelationship": {
        "type": "object",
        "properties": {
          "reward": {
            "type": "object",
            "title": "Reward Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "default": "reward"
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "OriginalTransactionRelationship": {
        "type": "object",
        "properties": {
          "originalTransaction": {
            "type": "object",
            "title": "Original Transaction Relationship",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "./types.json#/components/schemas/Identifier"
                  },
                  "type": {
                    "type": "string",
                    "default": "originalTransaction"
                  }
                },
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "data"
            ],
            "additionalProperties": false
          }
        }
      },
      "UnitApiTokenResponse": {
        "type": "object",
        "title": "Unit Api Token Response",
        "properties": {
          "data": {
            "$ref": "./apiToken.json#/components/schemas/ApiToken"
          }
        }
      },
      "CreateCustomerTokenRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "customerToken"
                ],
                "default": "customerToken"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "verificationToken": {
                    "type": "string"
                  },
                  "jwtToken": {
                    "type": "string"
                  },
                  "expiresIn": {
                    "type": "integer"
                  },
                  "verificationCode": {
                    "type": "string"
                  },
                  "resources": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "card",
                            "account"
                          ]
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "$ref": "../types.json#/components/schemas/Identifier"
                          }
                        }
                      }
                    }
                  },
                  "upgradableScope": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CreateApiTokenRequest": {
        "title": "Create API Token",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "apiToken"
                ],
                "default": "apiToken"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "sourceIp": {
                    "type": "string"
                  },
                  "resources": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "card",
                            "account"
                          ]
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "$ref": "../types.json#/components/schemas/Identifier"
                          }
                        }
                      }
                    },
                    "nullable": true
                  }
                },
                "additionalProperties": false,
                "required": [
                  "description",
                  "expiration"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "type",
              "attributes"
            ]
          }
        }
      },
      "ApiToken": {
        "title": "Api Token",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "apiToken"
            ],
            "default": "apiToken"
          },
          "id": {
            "$ref": "../types.json#/components/schemas/Identifier"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "description": {
                "type": "string"
              },
              "expiration": {
                "type": "string",
                "format": "date-time"
              },
              "token": {
                "type": "string"
              },
              "sourceIp": {
                "type": "string"
              }
            },
            "required": [
              "createdAt"
            ]
          }
        }
      },
      "CreateCustomerTokenVerificationRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "customerTokenVerification"
                ],
                "default": "customerTokenVerification"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "call"
                    ]
                  },
                  "phone": {
                    "$ref": "../types.json#/components/schemas/Phone"
                  },
                  "appHash": {
                    "type": "string",
                    "minLength": 11,
                    "maxLength": 11
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "af",
                      "ar",
                      "ca",
                      "zh",
                      "zh-CN",
                      "zh-HK",
                      "hr",
                      "cs",
                      "da",
                      "nl",
                      "en-GB",
                      "et",
                      "fi",
                      "fr",
                      "de",
                      "el",
                      "he",
                      "hi",
                      "hu",
                      "id",
                      "it",
                      "ja",
                      "kn",
                      "ko",
                      "ms",
                      "mr",
                      "nb",
                      "pl",
                      "pt-BR",
                      "pt",
                      "ro",
                      "ru",
                      "sk",
                      "es",
                      "sv",
                      "tl",
                      "te",
                      "th",
                      "tr",
                      "vi"
                    ]
                  }
                },
                "required": [
                  "channel"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "required": [
              "type",
              "attributes"
            ]
          }
        }
      },
      "CustomerTokenVerification": {
        "title": "Customer Token Verification",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "customerTokenVerification"
            ],
            "default": "customerTokenVerification"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "verificationToken": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "additionalProperties": false
      },
      "CustomerToken": {
        "title": "Customer Token Resource",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "customerBearerToken"
            ],
            "default": "customerBearerToken"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "expiresIn": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ],
        "additionalProperties": false
      },
      "Webhook": {
        "title": "Webhook",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "webhook"
            ],
            "default": "webhook"
          },
          "id": {
            "$ref": "../types.json#/components/schemas/Identifier"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "contentType": {
                "type": "string",
                "enum": [
                  "Json",
                  "JsonAPI"
                ]
              },
              "deliveryMode": {
                "type": "string",
                "enum": [
                  "AtMostOnce",
                  "AtLeastOnce"
                ]
              },
              "token": {
                "type": "string"
              },
              "subscriptionType": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "additionalProperties": false
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "tags": {
                    "$ref": "../types.json#/components/schemas/Tags"
                  }
                }
              }
            }
          }
        }
      },
      "UnitWebhookResponse": {
        "type": "object",
        "title": "Unit Webhook Response",
        "properties": {
          "data": {
            "$ref": "./webhook.json#/components/schemas/Webhook"
          }
        }
      },
      "DefaultTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account"
            ]
          },
          {
            "$ref": "../relationships.json#/components/schemas/AccountRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CustomerRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CustomersRelationship"
          }
        ]
      },
      "OriginatedAchTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "payment"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/PaymentRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RecurringPaymentRelationship"
          }
        ]
      },
      "ReceivedAchTransactionRelationships": {
        "allOf": [
          {
            "title": "Received ACH Transaction Relationships"
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          }
        ]
      },
      "ReturnedAchTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "payment"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/PaymentRelationship"
          }
        ]
      },
      "ReturnedReceivedAchTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "returned"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReturnedRelationship"
          }
        ]
      },
      "DishonoredAchTransactionRelationships": {
        "allOf": [
          {
            "title": "Dishonored ACH Transaction Relationships"
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          }
        ]
      },
      "WireTransactionRelationships": {
        "allOf": [
          {
            "title": "Wire Transaction Relationships"
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          }
        ]
      },
      "ReturnedWireTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "payment"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/PaymentRelationship"
          }
        ]
      },
      "BookTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "counterpartyAccount",
              "counterpartyCustomer"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CounterpartyAccountRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CounterpartyCustomerRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/PaymentRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RecurringPaymentRelationship"
          }
        ]
      },
      "PurchaseTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "card",
              "authorization"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CardRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/AuthorizationRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/AuthorizationRequestRelationship"
          }
        ]
      },
      "AtmTransactionRelationship": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "card"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CardRelationship"
          }
        ]
      },
      "FeeTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "relatedTransaction"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RelatedTransactionRelationship"
          }
        ]
      },
      "FeeReversalTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "relatedTransaction"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RelatedTransactionRelationship"
          }
        ]
      },
      "InterestTransactionRelationships": {
        "allOf": [
          {
            "title": "Interest Transaction Relationships"
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          }
        ]
      },
      "InterestShareTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "org"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/OrgRelationship"
          }
        ]
      },
      "CardReversalTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "card",
              "relatedTransaction"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CardRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RelatedTransactionRelationship"
          }
        ]
      },
      "CardTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "card",
              "authorization"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/AuthorizationRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CardRelationship"
          }
        ]
      },
      "ReleaseTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account"
            ]
          },
          {
            "$ref": "../relationships.json#/components/schemas/AccountRelationship"
          }
        ]
      },
      "AdjustmentTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account"
            ]
          },
          {
            "$ref": "../relationships.json#/components/schemas/AccountRelationship"
          }
        ]
      },
      "DisputeTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "disputedTransaction"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/DisputedTransactionRelationship"
          }
        ]
      },
      "CheckDepositTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "checkDeposit"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CheckDepositRelationship"
          }
        ]
      },
      "ReturnedCheckDepositTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "checkDeposit"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CheckDepositRelationship"
          }
        ]
      },
      "PaymentCanceledTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "org",
              "relatedTransaction"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/OrgRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RelatedTransactionRelationship"
          }
        ]
      },
      "PaymentAdvanceTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "receivedPayment"
            ]
          },
          {
            "$ref": "../relationships.json#/components/schemas/AccountRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CustomerRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReceivedPaymentRelationship"
          }
        ]
      },
      "RepaidPaymentAdvanceTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "receivedPayment",
              "paymentAdvanceTransaction"
            ]
          },
          {
            "$ref": "../relationships.json#/components/schemas/AccountRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CustomerRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReceivedPaymentRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/PaymentAdvanceTransactionRelationship"
          }
        ]
      },
      "ChargebackTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "counterpartyAccount",
              "chargeback"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CounterpartyAccountRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ChargebackRelationship"
          }
        ]
      },
      "RewardTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "reward",
              "receiverAccount"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/RewardRelationship"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReceiverAccountRelationship"
          }
        ]
      },
      "AccountLowBalanceClosureTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "receiverAccount"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReceiverAccountRelationship"
          }
        ]
      },
      "NegativeBalanceCoverageTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "receiverAccount"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/ReceiverAccountRelationship"
          }
        ]
      },
      "CheckPaymentTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "checkPayment"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
            "$ref": "../relationships.json#/components/schemas/CheckPaymentRelationship"
          }
        ]
      },
      "ReturnedCheckPaymentTransactionRelationships": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "account",
              "checkPayment"
            ]
          },
          {
            "$ref": "#/components/schemas/DefaultTransactionRelationships"
          },
          {
[...]
